{% extends 'base.htm' %}
{% block title %}ABOUT{% endblock title %}
{% block body%}

<div class="container my-2">
  <div class="card shadow-lg">
    <img src="/static/img/about-us.jpg" class="d-block" height=500>
    <div class="card-body">
      <p class="card-text">Online Shopping E-Commerce website is an online portal that facilitate online transactions of goods and services through means of the transfer of information and funds over the Internet. In the early days, e-commerce was done partially through emails and phone calls.</p>
      <p class="card-text">An online shop evokes the physical analogy of buying products or services at a regular "bricks-and-mortar" retailer or shopping center; the process is called business-to-consumer (B2C) online shopping. When an online store is set up to enable businesses to buy from another businesses, the process is called business-to-business (B2B) online shopping. A typical online store enables the customer to browse the firm's range of products and services, view photos or images of the products, along with information about the product specifications, features and prices.</p>
      <p class="card-text">Online stores usually enable shoppers to use "search" features to find specific models, brands or items. Online customers must have access to the Internet and a valid method of payment in order to complete a transaction, such as a credit card, an Interac-enabled debit card, or a service such as PayPal. For physical products (e.g., paperback books or clothes), the e-tailer ships the products to the customer; for digital products, such as digital audio files of songs or software, the e-tailer usually sends the file to the customer over the Internet.</p>
      <p class="card-text"> Online shopping through app has become very popular these days because people find it convenient and easy to shop from their home or office. People can save their time and energy by purchasing products online with some discounts. The offers on the internet can be easily compared, and the buyer can buy the product according to their favorable conditions like price, quality and other discounts for their individual needs. The next generation of mobile phone “SMART Phones”, has opened the new paths of using specially designed apps. We have most of the companies making use of this trend of getting their company products available on their website for sale, to be accessed via the app. They are also coming out with some great offers to attract customers to download and use their apps more rather than accessing their website.   </p>
    </div>
  </div>
</div>

<hr>
<h1 style="text-align:center">FEEDBACK HERE</h1>
<div class="container mt-3" style="background:grey">
    <form method="post" action="/about">
      {% csrf_token %}
          <div class="form-group mb-3">
              <label for="email" class="form-label">EMAIL</label>
              <input type="email" class="form-control" id="email"  name="email" placeholder="enter your email">
          </div>
          <div class="form-group mb-3">
              <label for="feedback" class="form-label">FEEDBACK</label>
              <textarea class="form-control" id="feedback" name="feedback" rows="3"></textarea>
          </div>
          <div class="form-group">
              <button type="submit" class="btn btn-primary">SUBMIT</button>
          </div>
    </form>
</div>
{% endblock body %}