{% extends 'base.htm' %}
{% block title %}SERVICES{% endblock title %}
{% block body %}
<div class="container my-2">
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/img/dosa.jpg" class="d-block" height=225>
        <div class="card-body">
          <p class="card-text">DOSA</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/img/biryani.jpg" class="d-block" height=225>
        <div class="card-body">
          <p class="card-text">BIRYANI</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/img/combo.jpg" class="d-block" height=225>
        <div class="card-body">
          <p class="card-text">COMBO-PACK</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/img/desserts.jpg" class="d-block" height=225>
        <div class="card-body">
          <p class="card-text">DELICIOUS DESSERTS</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/img/fries.jpg" class="d-block" height=225>
        <div class="card-body">
          <p class="card-text">FRENCH-FRIES</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/img/ice-cream.jpg" class="d-block" height=225>
        <div class="card-body">
          <p class="card-text">ICE-CREAMs</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/img/pizza.jpg" class="d-block" height=225>
        <div class="card-body">
          <p class="card-text">PIZZA</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/img/rice.jpg" class="d-block" height=225>
        <div class="card-body">
          <p class="card-text">RICEs</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/img/thali1.jpg" class="d-block" height=225>
        <div class="card-body">
          <p class="card-text">DELICIOUS SPECIAL-THALI</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/img/cold-drink.jpg" class="d-block" height=225>
        <div class="card-body">
          <p class="card-text">COLD-DRINK</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/img/daal makhani.jpg" class="d-block" height=225>
        <div class="card-body">
          <p class="card-text">SPECIAL DAAL-MAKHANI</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/img/dry-fruits.jpg" class="d-block" height=225>
        <div class="card-body">
          <p class="card-text">FRUITs</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/img/halwa.jpg" class="d-block" height=225>
        <div class="card-body">
          <p class="card-text">SPECIAL-HALWA</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/img/karnatka style.jpg" class="d-block" height=225>
        <div class="card-body">
          <p class="card-text">SPECIAL-KARNATAKA THALI</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/img/majito.jpg" class="d-block" height=225>
        <div class="card-body">
          <p class="card-text">DELICIOUS MAJITO</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/img/prantha.jpg" class="d-block" height=225>
        <div class="card-body">
          <p class="card-text">PRANTHAs</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/img/vegetables.jpg" class="d-block" height=225>
        <div class="card-body">
          <p class="card-text">VEGETABLEs</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/img/burger.jpg" class="d-block" height=225>
        <div class="card-body">
          <p class="card-text">BURGERs</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}