{% extends 'base.htm' %}
{% block title %}SERVICES{% endblock title %}
{% block body %}
<div class="container my-2">
<h1 style="text-align:center">BUDGET BUY's</h1>
<hr>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/img/budget1.jpg" class="d-block" height=225>
        <div class="card-body">
          <p class="card-text">CASUAL SHOE'S</p>
          <p class="card-text">UNDER 1499/-</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary" >ORDER NOW</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/img/budget2.jpg" class="d-block" height=225>
        <div class="card-body">
          <p class="card-text">FLIP-FLOP'S</p>
          <p class="card-text">UNDER 399/-</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/img/budget3.jpg" class="d-block" height=225>
        <div class="card-body">
          <p class="card-text">JEAN'S</p>
          <p class="card-text">UNDER 899/-</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/img/budget4.jpg" class="d-block" height=225>
        <div class="card-body">
          <p class="card-text">WOMEN JEAN'S</p>
          <p class="card-text">UNDER 899/-</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/img/budget5.jpg" class="d-block" height=225>
        <div class="card-body">
          <p class="card-text">SHIRT'S</p>
          <p class="card-text">UNDER 799/-</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/img/budget6.jpg" class="d-block" height=225>
        <div class="card-body">
          <p class="card-text">SHORT'S</p>
          <p class="card-text">UNDER 399/-</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/img/budget7.jpg" class="d-block" height=225>
        <div class="card-body">
          <p class="card-text">SHORT'S</p>
          <p class="card-text">UNDER 399/-</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/img/budget8.jpg" class="d-block" height=225>
        <div class="card-body">
          <p class="card-text">DRESSE'S</p>
          <p class="card-text">UNDER 699/-</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/img/budget9.jpg" class="d-block" height=225>
        <div class="card-body">
          <p class="card-text">KID'S WEAR</p>
          <p class="card-text">UNDER 499/-</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/img/budget10.jpg" class="d-block" height=225>
        <div class="card-body">
          <p class="card-text">SAREE'S</p>
          <p class="card-text">UNDER 899/-</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/img/budget11.jpg" class="d-block" height=225>
        <div class="card-body">
          <p class="card-text">KURATA'S</p>
          <p class="card-text">UNDER 899/-</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src="/static/img/budget12.jpg" class="d-block" height=225>
        <div class="card-body">
          <p class="card-text">SPORT SHOES'S</p>
          <p class="card-text">UNDER 899/-</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>

<div class="container my-2">
<h1 style="text-align:center">BRAND's</h1>
<hr>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">
  <div class="col">
    <div class="card shadow-sm">
      <img src="/static/img/brand1.png" class="d-block" height=200>
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <img src="/static/img/brand2.jpeg" class="d-block" height=200>
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <img src="/static/img/brand3.jpeg" class="d-block" height=200>
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <img src="/static/img/brand4.jpeg" class="d-block" height=200>
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <img src="/static/img/brand5.jpeg" class="d-block" height=200>
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <img src="/static/img/brand6.jpeg" class="d-block" height=200>
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <img src="/static/img/brand7.jpeg" class="d-block" height=200>
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <img src="/static/img/brand8.jpeg" class="d-block" height=200>
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <img src="/static/img/brand9.jpeg" class="d-block" height=200>
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <img src="/static/img/brand10.jpeg" class="d-block" height=200>
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <img src="/static/img/brand11.png" class="d-block" height=200>
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <img src="/static/img/brand12.jpeg" class="d-block" height=200>
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <img src="/static/img/brand13.jpeg" class="d-block" height=200>
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <img src="/static/img/brand14.png" class="d-block" height=200>
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card shadow-sm">
      <img src="/static/img/brand1.png" class="d-block" height=200>
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary">ORDER NOW</button>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock body %}